<header>
  <%= link_to image_tag("https://www.0101.co.jp/contents/shopinfo/082/d4da7444cde15101b7b6deda43832a4a_01_04.jpg", class:"title"), "#" %>
  <ul class="nav-lists">
    <li class="nav-list"><%= link_to 'HOME', "#", class: "header-link" %></li>
    <li class="nav-list"><%= link_to 'NEWS & EVENT', "#", class: "header-link" %></li>
    <li class="nav-list"><%= link_to 'CONCEPT', "#", class: "header-link" %></li>
    <li class="nav-list"><%= link_to 'PRODUCT GALLERY', "#", class: "header-link" %></li>
    <li class="nav-list"><%= link_to 'OUR SHOP', "#", class: "header-link" %></li>
    <li class="nav-list"><%= link_to 'BLOG', "#", class: "header-link" %></li>
    <li class="nav-list"><%= link_to 'BUSINESS ORDER', "#", class: "header-link" %></li>
    <li class="nav-list"><%= link_to 'CONTACT', "#", class: "header-link" %></li>
  </ul>
</header>